#include <iostream>

using namespace std;

int x=3;

int k,i,lenght;

int main()
{
	cout<<"you can understud mean of evrything with the powerful father'sublime'of computer's."<<endl
	<<"Also he gives you three life"<<endl<<"****************"<<endl;
	while(x!=0){
	
	cout<<"what is the mean of...";
	string girdi;
	getline(cin,girdi);//stringin tümünü okuyan ve dizide tutan araç
	int yaziboyut=girdi.length();
	
	string alfabe="abcdefghijklmnopqrstywxrz";
	

	int toplamharf=0;
	
	for (int i=0;i<=yaziboyut;i++){
		
		for(int k=0;k<25;k++){
			
			if(girdi[i]==alfabe[k])
			{
				toplamharf=toplamharf+k+1;
/*"engin"*/	
				break;
			}
			
		}
				
	}


for(int j=0;j<=10;j+=2)
	{

	for(int i=0;i<=10-j;i+=2)
		{
		cout<<" ";
		}				
	for(int i=-1;i<j;i++)
		{		
		cout<<"*";
		}
		
		cout<<endl;
					
	}



cout<<"     "<<toplamharf<<endl;
	
//amacım burada alfabedeki karşılığı olan her harfin k değerini toplamak ve ekrana yazdırmak

x--;	
}
	
	
	return 0;}
